<% if @widget.settings.present? && @widget.settings['email_text'].present? %>
<%= simple_format @widget.settings["email_text"] %>
<% else %>
<p>Obrigado por apostar na força da ação coletiva em rede.</p>
<p>Sua participação é muito importante e, agora, precisamos da sua ajuda para que mais gente colabore com esta mobilização.</p>
<p>Compartilhe nas suas redes clicando em um dos links abaixo. </p>
<p>Um abraço.</p>
<% end %>

