<div>
  <% if @invited_user %>
  <p>Olá <%= @invited_user.first_name %>!</p>
  <% else %>
  <p>Olá!</p>
  <% end %>
  <br />
  <p>Você acabou de ser convidado(a) a entrar na comunidade <%= @invitation.community.name %> no BONDE.</p>
  <% if @invited_user %>
  <p>Para chegar junto, é só <%= link_to 'clicar aqui', @invitation.link, target: 'blank' %>, entrar no BONDE e começar a causar.</p>
  <% else %>
  <p>Para começar a causar, é só <%= link_to 'clicar aqui', @invitation.link, target: 'blank' %> e criar sua conta na plataforma.</p>
  <% end %>
  <br />
  <p>Se ficar com alguma dúvida, é só <a href="http://trilho.bonde.org">entrar no trilho</a>, onde tem um tutorial pra te ajudar.</p>
  <p>Tem também um FAQ cheio de respostas aqui: <a href="http://faq.bonde.org">faq.bonde.org</a> :)</p>
  <br />
  <br />
  <p>Um abraço,</p>
  <p>Equipe <b>B</b>ONDE</p>
</div>
