<div>
  <h1>Você acaba de ser convidado para ingressar na comunidade <%= @invitation.community.name %></h1>
  <p>Para aceitar o convite, basta acessar o link <%= link_to @invitation.link %></p>
</div>