<%= simple_format @widget.settings["email_text"] %>
<p>
  <%= link_to "Compartilhe no Facebook", @mobilization.facebook_share_link %>
  <%= link_to "Compartilhe no Twitter", @mobilization.twitter_share_link %>
</p>
