<%= simple_format @widget.settings["email_text"] %>

<p>
  <%= link_to "Compartilhe no Facebook", @mobilization.facebook_share_url %>
  <br />
  <% if @mobilization.custom_domain %>
  <%= link_to "Nosso site", @mobilization.custom_domain %>
  <% end %>
</p>
