<% organization_name = @mobilization.organization.name %>
<% city = organization_name.split(/\s/)[1] %>

<p>
  Olá,
</p>

<p>
  Recebemos sua doação e ficamos muito contentes em saber que você acredita neste projeto! Juntos, vamos fazer de <%= city %> uma cidade mais inclusiva, sustentável e agradável de se viver :)
</p>

<p>
  Quer ajudar ainda mais? Compartilhe a campanha no seu Facebook!
  </br>
  Estimule seus amigos e amigas a apoiarem também!
</p>

<p>Fique de olho para saber as novidades da rede!</p>

<p>
  <%= link_to "Compartilhe no Facebook", @mobilization.facebook_share_url %>
  <br />
  <% if @mobilization.custom_domain %>
  <%= link_to "Nosso site", @mobilization.custom_domain %>
  <% end %>
</p>

<p>
  Abraços, <br />
  Equipe <%= organization_name %>.
</p>
