<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
<div style="width:602px;margin:0 auto;background-color:#ededed;font-family:'Source Sans Pro','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">
  <div style="box-sizing:border-box;width:100%;background:#fff;">
    <table style="box-sizing:border-box;width:100%;border-spacing:0;border-collapse:separate!important;text-align:center;border-bottom:1px solid #eaeaea;" width="100%">
      <tbody>
                <%= yield %>
      </tbody>
    </table>
    <table style="box-sizing:border-box;width:100%;border-spacing:0;border-collapse:separate!important;text-align:center;" width="100%">
      <tr>
        <td>
          <table style="width:420px;margin:0 auto;text-align:center;color:#222;font-size:17px;">
            <tr>
              <td style="font-size:16px;padding:30px 0;">
                Dúvidas? Entre em contato pelo e-mail: <br/>
                  <%= mail_to 'suporte@bonde.org' %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
  <div style="padding:25px 0 50px;">
    <p style="width:420px;margin:0 auto;text-align:center;color:#9a9a9a;font-size:16px;">
      <img src="https://s3.amazonaws.com/hub-central-dev/uploads/1490248307_logo.png" height="25" style="display:inline;vertical-align:middle;margin-right:10px;" />
      <span style="display:inline;vertical-align:middle;font-weight:normal;">
         Feito pra causar. Feito com BONDE.
      </span>
    </p>
  </div>
</div>
